* {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: $text;
  background-color: #e7e5f4;
}

.app__container {
  max-width: 1366px;
  width: 72%;
  margin: 0 auto;
}

.app__textarea {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 300px;
  width: calc(100%);
  border: none;
  overflow: auto;
  outline: none;
}

.app__textarea:focus {
  outline: 1px solid #0f77f0;
  border: #0f77f0;

}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px 11px;
  background: rgba(206, 210, 217, 0.8);
  backdrop-filter: blur(35px);
}

.keyboard__row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.key-inner_hidden {
  display: none;
}

.key {
  width: 85px;
  height: 60px;
  border: none;
  border-radius: 9px;
  color: #000000;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  transition: all 0.3s;
}

.key + .key {
  margin-left: 7px;
}

.key_tab,
.key_capslock,
.key_delete,
.key_enter,
.key_shift,
.key_ctrl,
.key_win,
.key_alt,
.key_backspace {
  background: #AEB3BE;
}

.key_backspace {
  width: 134px;
}

.key_delete,
.key_tab {
  width: 106px;
}

.key_enter,
.key_capslock {
  width: 119px;
}

.key_shift {
  width: 218px;
}

.key_up,
.key_down,
.key_left,
.key_right {
  font-size: 30px;
}

.key_space {
  flex-grow: 1;
}

.key:focus {
  outline: none;
  border: 1px solid #0f77f0;
}
.key:hover {
  outline: none;
  color: #ffffff;
  
  background-color: #689edb
}

.key_active,
.key:active {
  outline: none;
  color: #ffffff;
  background-color: #0f77f0;
  box-shadow: none;
}

.symbol_hidden {
  display: none;
}

.description {
  margin: 0;
  margin-top: 20px;
  font-weight: 700;
}